.imagen {
    width: 175px;
}

.carrito {
    width: 300px;
}

.estilo {
    margin-left: 20;
    overflow: auto;
}

.trash {
    cursor: pointer;
}

.cartTotal {
    border-bottom: 1px solid grey;
    padding: 0px 0px 8px 3px;
}
