.imagen{
    width: 175px;
}

.carrito{
    width: 300px;
}

.estilo{
    margin-left: 20;
    overflow: auto;
}

.trash{
    cursor: pointer;
}

.cartTotal {
        background-color: #bcbcbc;
        border-radius: 10px;
        box-sizing: initial;
        font-weight: bolder;
        margin: 20px auto 10px;
        padding: 1em;
        width: 85%;
        height: 10%
}

.verde{
    background-color: #05cc41b2 !important;
}

